
body{
    background-color: antiquewhite;
    padding : 30px
}

.headnav{
    padding: 10px;
}

a{
    text-decoration: none;
    color : black
}
a:hover{
    color: rgb(54, 54, 54);
}


img{
    width: 150px;
    height: 150px;
    padding: 20px;
    margin: 10px;
}

img:hover{
    background-color: rgba(173, 173, 173, 0.541);
    border-radius: 25px;
}

.img-active{
    background-color: rgba(173, 173, 173, 0.541);
    border-radius: 25px;
}

.result{
    font-family: montserrat;
    background-color: green;
    margin: 10px;
    font-size: 30px;
    padding: 5px;
    color: white;
}
.index img{
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 720px;
}
.index img:hover{
    background-color: unset;
}
.index{
    padding-top: 5%;
    padding-bottom:5% ;
}